@use "../abstracts";

.dropdown {
    color: var(--text-dropdown-color);
    position: absolute;
    left: 0;

    width: min(1240px, 100%);
    padding-top: 54px;
    display: none;

    @include abstracts.breakpoint(xl) {
        position: initial;
        padding-top: 0;
    }
    

    &__inner {

        position: relative;
        padding: 30px;

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            position: absolute;
            top: -13px;
            left : var(--arrow-left-pos);
            content: url("../icons/dropdown-arrow.svg");
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        
        }

        @include abstracts.breakpoint(xl) {
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            padding: 0;

            &::before {
                content : none;
            }
        }

    }
}

.top-menu {
    --main-column-width : 292px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - 59px);
    position: relative;

    &__main {   
        width: var(--main-column-width);
        max-height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include abstracts.breakpoint(xl) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {

    display: flex;
    column-gap: 14px;

    + .menu-column {
        margin-top: 21px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

    }


    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter : var(--menu-column-icon-color);
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;

        @include abstracts.breakpoint(xl) {
            margin-bottom: 26px;
        }
    }

    &__list {
        margin-top: 19px;

        @include abstracts.breakpoint(xl) {
            margin-top: 0;
        }
    }

    &__item--active .sub-menu {
        display: grid; 
    }


    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071DC;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42857; /* 142.857% */

    }
}

.sub-menu {
    position: absolute;
    inset : 0 0 0 var(--main-column-width);
    padding-left : 30px;

    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    overflow-y: auto;

    @include abstracts.breakpoint(xl) {
        margin-top: 10px;
        position: initial;
        padding-left: 0;
        grid-template-columns: 1fr;
    }

    &--not-main {
        padding-left: 0;
        position: initial;
        inset: initial;
        max-height: var(--max-inner-height);
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include abstracts.breakpoint(xl) {
            grid-template-columns: 1fr;
            max-height: initial;
        }
    }
}