@use "../abstracts";

.payment-cart {
    position: relative;

    padding: 20px;
    height: 100%;

    background: var(--payment-cart-bg);
    border-radius: 10px;

    color: #fff;

    &__img {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__top {
        display: flex;
        align-items: center;
        column-gap: 6px;
    }

    &__type {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 142.857%;
    }

    &__number {
        position: relative;
        margin-top: 37px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height:144.444%;
    }

    &__bottom {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &:first-of-type {
            margin-right: 40px;
        }
    }


    &__label {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 175%;
    }

    &__value {
        font-size: 1rem;
        font-weight: 500;
        line-height:  140%;
    }

    &__circle {
        position: relative;
        margin-left: auto;
        width: 42px;
        height: 28px;
        isolation: isolate;

        &::after,
        &::before {
            position: absolute;
            top: 0;
            left: 0;

            display: inline-block;
            content: "";
            width: 28px;
            height: 28px;
            border-radius: 50%;
            
        }

        &::before {
            background: #F94545;
        }
        
        &::after {
            mix-blend-mode: overlay;
            background: #FFB700;
            translate: 50%;
        }
    }
}


.new-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 56px 0;
    height: 100%;

    border-radius: 10px;
    border: 1px dashed  var(--new-cart-border-color);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 14px;
    }

    &__label {
        color: #D2D1D6;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height:142.857%;
    }
}
