@use "../abstracts";

.product-card {
    display: flex;
    flex-direction: column;
    padding: 16px;

    height: 100%;
    border-radius: 20px;
    background: var(--product-card-bg-color);
    box-shadow: 0px 20px 60px 10px var(--product-card-shadow);

    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__like-btn {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__title, &__brand, &__row {
        padding-top: 16px;
    }

    &__brand {
        color: #9E9DA8;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 46.667%;
    }

    &__title, &__score, &__price {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__row {
        margin-top: auto;
        display: flex;
        align-items: center;
    }

    &__star {
        margin-left: auto;
    }

    &__score {
        margin-left: 6px;
    }
}