<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Footer Column 0 -->
            <div class="footer__col">
                <div class="footer__logo-box">
                    <!-- Logo -->
                    <a href="/" class="logo footer__logo">
                        <img src="./assets/icons/logo.svg" alt="" class="logo__img" />
                        <h1 class="logo__title">grocerymart</h1>
                    </a>
                </div>
                <p class="footer__desc">
                    Grocerymart store is famous nationwide for all the essential products that are important to people all over the world.
                </p>

                <p class="footer__help-text">
                    Receive products news and updates in your inbox.
                </p>
                <form action="" class="footer__form">
                    <input type="email" class="footer__input" placeholder="Email Address">
                    <button class="btn btn--primary">Send</button>
                </form>
            </div>
            <!-- Footer Column 1 -->
            <div class="footer__col">
                <h3 class="footer__heading">Shop</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">TV & Video</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Savings</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Wearable Technology</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Computers</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">Support</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Store Local</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Order Status</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">Company</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Terms Of Use</a>
                    </li>

                    <li>
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Careers</a>
                    </li>

                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">CA Supply Chains Act</a>
                    </li>

                    <li>
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">Contact</h3>
                <ul class="footer__list">
                    <li>
                        <p class="footer__label">Email</p>
                        <a href="#!" class="footer__link">Contact Us</a>
                    </li>
                    <li>
                        <p class="footer__label">Hotline</p>
                        <a href="#!" class="footer__link">855-909-6868</a>
                    </li>

                    <li>
                        <p class="footer__label">Address</p>
                        <p class="footer__text">1 Alley 41 Tran Duy Hung, Trung Hoa, Cau Giay, Hanoi 11313</p>
                    </li>
                    <li>
                        <p class="footer__label">Hours</p>
                        <p class="footer__text">08:00am - 06:00pm</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">
                © 2024-2025 TopCV Vietnam Grocery. All rights reserved.
            </p>

            <div class="footer__social">
                <a href="#!" class="footer__social--link footer__social--link-fb">
                    <img src="./assets/icons/fb.svg" alt="" class="footer__social--icon">
                </a>

                <a href="#!" class="footer__social--link footer__social--link-youtube">
                    <img src="./assets/icons/youtube.svg" alt="" class="footer__social--icon">
                </a>

                <a href="#!" class="footer__social--link footer__social--link-in">
                    <img src="./assets/icons/in.svg" alt="" class="footer__social--icon footer__social--icon-in">
                </a>

                <a href="#!" class="footer__social--link footer__social--link-tiktok">
                    <img src="./assets/icons/tiktok.svg" alt="" class="footer__social--icon footer__social--icon-tiktok">
                </a>

                <a href="#!" class="footer__social--link footer__social--link-twitter">
                    <img src="./assets/icons/twitter.svg" alt="" class="footer__social--icon">
                </a>
            </div>
        </div>
    </div>
</div>
